[submodule "liblo"]
	path = liblo
	url = https://github.com/radarsat1/liblo.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "components/libmapper/libmapper"]
	branch = v2-devel
[submodule "compat-idf"]
	path = compat-idf
	url = https://github.com/mathiasbredholt/compat-idf.git
[submodule "libmapper"]
	path = libmapper
	url = https://github.com/libmapper/libmapper.git
	branch = v2-devel
